.img-home {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.highlighted-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.btn-danger {
  padding: 12px 24px; /* Ajuster le rembourrage pour agrandir le bouton */
  font-size: 18px; /* Ajuster la taille de la police pour agrandir le bouton */
  background-color: rgb(250, 12, 12); /* Couleur de fond du bouton principal */
  color: white; /* Couleur du texte */
  border: none; /* Supprimer la bordure du bouton */
  border-radius: 5px; /* Ajouter des coins arrondis */
  cursor: pointer; /* Curseur de souris pointer */
  transition: ease;
}

.discover {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}

.carousel-item .carousel-image {
  position: relative;
  width: 100%;
  height: 400px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item .carousel-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
}

.carousel-caption h5, .carousel-caption p {
  font-size: 1.5em;
  color: white; /* Couleur du texte */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
  font-size: 1em;
}

.carousel-inner {
  border-radius: 20px;
}

.col-3.text-center img {
  border-radius: 10px;
}
