<div class="d-flex justify-content-center align-items-center min-vh-100 bg-white">
    <div class="text-center">
        <h1 class="mb-4">Nous vous remercions pour votre reservation</h1>
        <p>Votre reservation a été prise en compte et sera traitée dans les meilleurs délais. Vous recevrez un e-mail de confirmation de reservation.</p>
        <a href="/" class="btn btn-primary mt-3">Revenir à la page d'accueil</a>
    </div>
</div>
<div class="alert alert-primary" role="alert">
  Consultez vos e-mails !
</div>
