
<div class="container mt-5">
  <h1 class="text-center mb-5">Mes réservations en cours</h1>
  <div class="row">
    <div class="col-md-12">
      <% @reservations.each do |reservation| %>
        <div class="reservation-card card shadow bg-white text-dark mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= reservation.item.name %></h5>
            <p class="card-text">Du <%= reservation.start_date %> au <%= reservation.end_date %></p>
            <p class="card-text">Prix total : <%= reservation.total_price %> €</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
